.dashboard {
	flex-flow: column;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;

	&__profiles_grid {
		display: flex;
	}

	.thumbnail {
		transition: 0.2s all ease-in-out;
		&:hover {
			transform: scale(1.1);
		}
	}
}
