.achievements {
	text-align: center;
}

.achievement_icon {
	transition: opacity 0.3s ease;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
}

.achievement_showcase_icon {
	border-collapse: collapse;
	border: 10px solid #000000;
	border-image: url("../assets/master-border.png") 10 round;
}

.achievement_not_earned {
	opacity: 0.3;
}

div[role="dialog"] {
	align-self: center;
}
