@import "src/components/Login/Login";
@import "src/components/ChooseProfile/ChooseProfile";
@import "src/dumb-components/MenuIcon/MenuIcon";
@import "src/dumb-components/Dashboard/CampaignHighlight/CampaignHighlight";
@import "src/components/Achievements/Achievements";
@import "webfonts";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

#root {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
}
